# Build artifacts
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll

# Output files / executables (idk what to say em tbh)
adv_blocked_parallel_matmul
matmul_vector
ptr_order
naive_ptr
blocked_matmul
blocked_parallel
randoms/

# Executables
*.exe
*.out

# Build directories
build/
cmake-build-*/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store

# py cahce
__pycache__/
