# Build artifacts
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll

# Output files / executables (idk what to say em tbh)
adv_blocked_parallel_matmul
basic_matmul_openmp
matmul_ptr
matmul_vector
matmul_vector_2d
ptr_naive
ptr_order
randoms/

# Executables
*.exe
*.out

# Build directories
build/
cmake-build-*/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
